@media only screen and (max-width: 767px) {
    .canvasContainer{
        position: relative;
        width: 95vw;
        height: 50vh;
        border: 5px dashed lightgray;
        overflow: hidden
    }
    .container{
        height: 50vh;
    }

    .canvaBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black; 
        background: transparent;
    }

    .canvaBtn > * {
        height: 15px;
        width: 15px;
    }
}   

@media only screen and (min-width: 768px) {
    .canvasContainer{
        position: relative;
        width: 100%;
        height: 99vh;
        border: 5px dashed lightgray;
        overflow: hidden
    }
    .canvaBtn{
        color: black; 
        background: transparent;
    }
}